.env
cover.out
cover.html
bin/*
dev-deployment-config
*cdk-outputs.json
__debug_bin
.DS_Store
.vscode/settings.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

node_modules

granted-deployment.yml
dist/
