.env
cover.out
cover.html
bin/*
dev-deployment-config
*cdk-outputs.json
__debug_bin
.DS_Store
.vscode/settings.json
.vscode/
deployments/
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

node_modules

granted-deployment.old.yml
granted-deployment.yml
granted-*.yml
dist/

.goreleaser.yml
gon.gdeploy.hcl
gon.gdeploy.arm.hcl
.vscode*
userAuthCookies.json
adminAuthCookies.json
*test-results*
testOutputs.json
deployments/
trace*.zip