resource "commonfate_access_rule" "{{ .Name }}" {
  name ="{{ .Name }}"
  description="{{ .Description }}"
  groups=[
    {{$g := .Groups}}
    {{ range $index, $element := .Groups}}
        {{if $index}},{{end}}
        "{{$element}}"
    {{end}}
  ]
 
  
  target=[
   
  ]
  target_provider_id="{{ .Target.ProviderID }}"
  duration={{ .TimeConstraints.MaxDurationSeconds }}
}